.cart__container{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/inicio.fondo.jpg);
    padding-top: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center;

}


.cart__container img {
    width: 180px;
    height: 200px;
}


.cart__container--products {
    color: black;
    padding: 15px;
    background-color: white;
    margin: 15px;
    border-radius: 5%;
    border: solid black 1px;
    height: fit-content;
    display: flex;
    width: 40%;
}

.cart__container--products--info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 60%;
}

.cart__container--products h3 {
    margin-bottom: 10px;
    
}

.cart__container--products h4 {
    margin: 3px;
}

.cart__container--products--info button {
    padding: 3px;
    margin: 5px;
}

.cart__container--form {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: white;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 15px;
}

.cart__container--form input {
    margin: 5px;
}

.cart__container--form button {
    margin: 5px;
    width: 40%;
    padding: 3px;
}

.cart__container--form--input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}