.itemsContainer {
color: black;
padding: 15px;
align-items: center;
text-align: center;
background-color: white;
margin: 15px;
border-radius: 5%;
border: solid black 1px;
}

.itemsContainer img {
    width: 160px;
    height: 160px;
}

.itemsContainer button {
    cursor: pointer;
    margin: 5px;
    padding: 3px;
    
}

.itemsContainer p {
    margin: 3px;
    font-size: 15px;
}

.itemsContainer h5 {
    font-size: 16px;
}

